<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>게시글</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: "맑은고딕";
        }

        h2 {
            margin-bottom: 20px;
        }

        body {
            background-color: rgb(224, 224, 224);
        }

        main {
            width: 50%;
            background-color: #fff;
            margin: 8% auto;
            display: flex;
            flex-direction: column;
        }

        .header-box {
            display: flex;
            border-top: 2px solid black;
            border-bottom: 1px solid rgb(165, 165, 165);

        }
        .header-box .title, .header-box .write-date {
            justify-content: center;
        }

        .header-box .title, .header-box .author, .header-box .write-date {
            display: flex;
            align-items: center;
            font-size: 15px;
            padding: 0.5em;
            font-weight: bold;
        }

        .header-box .title {
            width: 60%;
        }

        .header-box .author {
            width: 20%;
        }

        .header-box .write-date {
            width: 20%;
        }

        /* 포스트 */
        .post-area {
            display: flex;
            flex-direction: column;
        }

        .post-container {
            display: flex;
            border-bottom: 1px solid rgb(165, 165, 165);
        }

        .post-container div {
            padding: 2px 5px;
            font-size: 14px;
        }

        .post-count, .post-date {
            display: flex;
            align-items: center;
            justify-content: center;
            
        }

        .post-count {
            width: 10%;
        }

        .post-title {
            width: 50%;
        }

        .post-author, .post-date {
            width: 20%;
            
        }

        /* 하단 영역 */
        footer {
            margin-top: 10px;
            margin-left: auto;
        }

        footer button {
            padding: 5px;
            border: 1px solid rgb(192, 192, 192);
            margin-right: 5px;
        }

        .post-title a {
            text-decoration: none;
            color: black;
        }


    </style>
</head>
<body>
    
    <main>
        <h2>게시글 리스트</h2>
        <div class=""></div>
        <div class="header-box">
            <div class="title">제목</div>
            <div class="author">작성자</div>
            <div class="write-date">작성일</div>
        </div>

        

        <div class="post-area">


            <% list.forEach(function (value, index) { %>
                <div class="post-container">
                    <div class="post-count"><%=index+1 %></div>
                    <div class="post-title">
                        <a href="/read/<%=value.id%>"><%=value.title %></a>
                    </div>
                    <div class="post-author"><%=value.author %></div>
                    <div class="post-date"><%=value.regdate.getHours() %>:<%=value.regdate.getMinutes() %></div>
                </div>
            <% }); %>


        </div>
    
        <footer>
            <button onclick="location.href='/write'">글쓰기</button>
        </footer>

    </main>

    
    <!-- <table border="1">
        <colgroup>
            <col width = '60'><col width='200'><col width = '100'>
        </colgroup>
        <thead>
            <tr>
                <th>글번호</th>
                <th>rec ID</th>
                <th>작성자</th>
                <th>글제목</th>
                <th>글내용</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
        </thead>
        <tbody>
            <% list.forEach(function (value, index) { %>
            <tr>
                <td><%=index+1 %></td>
                <td><%=value.id %></td>
                <td><%=value.author %></td>
                <td><%=value.title %></td>
                <td><%=value.content %></td>
                <td><a href="/edit/<%=value.id%>">edit</a></td>
                <td><a href="/delete/<%=value.id%>">delete</a></td>
            </tr>
            <% }); %>
        </tbody>
    </table boader='1'> -->

    <!-- <button onclick="location.href='/write'">글쓰기</button> -->
</body>
</html>