<div class="asdf">
    <div class="post-middle-area">
        <% for(let i=0 ;i< game.length; i++) { %>
            <% if(game[i] != null) { %>
                <!-- 포스트 -->
                <div class="sc-item-container">
                    <a href="/playstation_store_game_page?id=<%= game[i].id %>">
                        <div class="sc-item-img-area">
                            <img src="<%=game[i].image %>" alt="">
                        </div>
                        <div class="sc-item-info-area">
                            <div class="sc-item-title"><%= game[i].title %></div>
                        </div>
                    </a>
                </div>
            <% } %>
        <% } %>
    </div>

    <div class="post-bottom-area">
        <div class="post-bottom">
            <div class="left-move-btn fas fa-chevron-left stop-point"></div>
            <div class="page-number-area">
                <% for(let i=0; i< page_count; i++) { %>
                    <div class="h-border num-a"><%= i+1 %></div>
                <% } %>
                    
            
            </div>
            <div class="right-move-btn fas fa-chevron-right h-border next-point"></div>
        </div>
    </div>
</div>




<input type="hidden" value="<%=input_page_n %>" class="ajax-selected-page-number">




